/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

.loginBouton {
	text-decoration: none;
	color: black;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover, .loginBouton:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filtres {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.boutonFiltre {
	min-width: 100px;
	height: 37px;
	border: 1px solid rgba(29, 97, 84, 1);
	color: rgba(29, 97, 84, 1);
	border-radius: 60px;
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	background-color: white;
	padding: 0 10px;
	margin: 10px;
	margin-bottom: 3em;
	transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.boutonFiltre:hover {
	color: white;
	background-color: rgba(29, 97, 84, 1);
}

.boutonFiltreClic {
	color: white;
	background-color: rgba(29, 97, 84, 1);
	min-width: 100px;
	height: 37px;
	border: 1px solid rgba(29, 97, 84, 1);
	border-radius: 60px;
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	padding: 0 10px;
	margin: 10px;
	margin-bottom: 3em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
}

.logInput, .addModal_input {
	display: flex;
	flex-direction: column;
	margin: 40 0 50 0;
}

.logTitle {
	font-family: Syne;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(29, 97, 84, 1);
}

label {
	margin: 30px 0 7px 0;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

#email, #password {
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.login a {
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 100px;
}

#boutonLog {
	color: white;
	background-color: rgba(29, 97, 84, 1);
	min-width: 100px;
	height: 37px;
	border: 1px solid rgba(29, 97, 84, 1);
	border-radius: 60px;
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	padding: 0 10px;
	margin: 37px 0 28px 0;
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#boutonLog:hover {
	color: rgba(29, 97, 84, 1);
	background-color: white;
}

#errorAuthent {
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	margin-top: 15px;
	color: darkred;
}

.projetsModal {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

#openModal {
	border: none;
	background-color: white;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
}

#iconModal {
	margin: 0 10px 0 31px;
	width: 15.58px;
	height: 15.58px;
}

.modal, .modal2 {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.modalWrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
	width: 630px;
	height: 688px;
	max-width: calc(100vw - 100px);
	max-height: calc(100vh - 10px);
	border-radius: 10px;
}
  
.modalContent, .modalContent2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 100px 0 100px;
	box-sizing: border-box;
	overflow-y: auto;
}
  
.close, .close2 {
	position: absolute;
	right: 30px;
	top: 26px;
	color: rgba(0, 0, 0, 1);
	width: 24px;
	height: 24px;
}
  
.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
  
.titreModal {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(0, 0, 0, 1);
	margin-top: 60px;
}

#galeriePhotos {
	padding-top: 50px;
	padding-bottom: 67.3px;
	width: 100%;
	border-bottom: 1px solid rgba(179, 179, 179, 1);
}

.addButton {
	border: none;
	background-color: rgba(29, 97, 84, 1);
	width: 237px;
	Height: 36px;
	border-radius: 60px;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	color: white;
	margin-top: 38px;
	margin-bottom: 45px;
	padding: 10px;
}

#galeriePhotos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.photoCard {
	position: relative;
	margin: 10px 3px;
	flex: 0 0 calc(20% - 10px)
}

.photoCard_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.photoCard_supp {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 4.86px;
	top: 8.45px;
	background-color: rgba(0, 0, 0, 1);
	width: 17px;
	height: 17px;
	border-radius: 2px;
}

.fa-trash-can {
	color: rgba(255, 255, 255, 1);
	font-size: 9px;
}

#addTitre , #addCategory {
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

#boutonAjoutImage {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	width: 237px;
	Height: 36px;
	border-radius: 60px;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	color: white;
	margin-top: 38px;
	margin-bottom: 45px;}

.addModal_button {
	background-color: rgba(167, 167, 167, 1);
}

.addModal_buttonCheck {
	background-color: rgba(29, 97, 84, 1);
}

.retour {
	position: absolute;
	left: 30px;
	top: 26px;
	color: rgba(0, 0, 0, 1);
	width: 24px;
	height: 24px;
}
  
.retour:hover,
.retour:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.cadreImageInput {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(232, 241, 246, 1);
	width: 100%;
	height: 169px;
	border-radius: 3px;
	margin-top: 36px;
	gap: 6px;
}

.addModal_input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.iconImg {
	background-color: rgba(232, 241, 246, 1);
	font-size: 76px;
	color: rgba(185, 197, 204, 1);
	padding-top: 13px;
}

#addTitre {
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	}

.champCat {
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	}

#addImgBouton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background-color: rgba(203, 214, 220, 1);
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	color: rgba(48, 102, 133, 1);
}

.infosAddImg {
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(68, 68, 68, 1);
	padding-bottom: 19px;
}

#previewImage {
	position: absolute;
	top: 0;
	height: 100%;
	object-fit: cover;
	z-index: 999;
}

.editionMode {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 1);
	height: 59px;
	top: 0;
	left: 0;
	gap: 10px;
}

.editionText {
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

.editionIcon {
	width: 15.58px;
	height: 15.58px;
	color: rgba(255, 255, 255, 1);
}

header {
	margin-top: 100px;
}

#imgInput {
	width: 0;
	height: 0;
	margin: 0;
}